h1{
    text-align: center;
    font: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aquamarine;
}


.special-h1{
    text-align: center;
    font: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blueviolet;
}